<html>
<style>
    body{background: #F0F8FF;}
    .button{
        background-color: #B22222;
        border: white;
        padding: 20px 30px;
        text-align:center;
        text-decoration:none;
    }
    a{color:black}
</style>
<nav>
    
         <a href='/' class='button'> Home </a> 
        <a href='/contact' class='button'> Contatct me </a> 
    
</nav>
</html>