<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <link href='style.css' rel="stylesheet" type="text/css">
    </HEAD>
    <body>
        <% include partials/nav.ejs %>
        <div class="head-text">
            <h1>Home Page</h1>
        </div>
        <div class="centeredtext" >
        <p>Thank you <%= data.name %>  for contacting me</p>
        
        </div>
        <div class="centeredtext">
            <p>I will answer you on this E-Mail: <%= data.email %> soon </p>
        </div>
    </body>
</HTML>